*.xcodeproj/*xcuserdata*
*.xcodeproj/project.xcworkspace/*xcuserdata*
*.xcodeproj/project.xcworkspace/xcshareddata/
mex/*
mex
data
*.o
*.pyc
*~
doc/.texpadtmp/*
doc/*.pdf
doc/.build
index.html
matconvnet-*.tar.gz
local
doc/site/docs/mfiles
doc/site/site
