.shy { display: none ; }
h1 { font-size: 1.7em ; }
h2 { font-size: 1.5em ; }
h3 { font-size: 1.2em ; }

.menuicon {
    display:inline-block;
    width: 50px;
    height: 50px;
    text-align: center ;
    vertical-align: middle;
    color: #aaa ;
}
.menuicon > span {
    line-height: 50px ;
}

/* Prevent blockquotes to be giant-sized, restyle */
blockquote {
    font-size: inherit ! important ;
    border: 1px solid gray;
}

/*

/* Have a space after ul */
ul ul, ol ul, ul ol, ol ol {
    margin-bottom: 10px ;
}

/* Nicer font for code samples */
code, kbd, pre, samp {
font-family: "Droid Sans Mono","Lucida Console","Courier New",monospace;
}

code {
    color: #337ab7;
    background-color: white;
    padding: 0;
    font-size: 100%;
}

h1 code {
    color: #333;
    font-weight: 600;
}

h2 code {
    color: #333;
    font-weight: 600;
}

a code {
    font-size: 95%;
    font-weight: 600;
}

/* Solves the problem of jumping to section and being hidden by fixed nav-bar */
/* https://github.com/twbs/bootstrap/issues/1768 */
*[id]:before {
  display: block;
  content: " ";
  margin-top: -70px;
  height: 70px;
  visibility: hidden;
}

/* Hides the prev, next and github links when browser width is between 768 and 1200px */
@media (min-width: 768px) and (max-width: 1199px) {
	.nav.navbar-nav.navbar-right
	{
		display: none;
	}
}

canvas {
  background-color: transparent;
}
*/
